body {
  background: #5987ab;
  color: #fff;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
#header {
  text-align: center;
}
#header h1 {
  font-size: 16px;
}
#header h1 span {
  font-size: 13px;
}
#game {
  margin: 0 auto;
  width: 960px;
  height: 540px;
  border: 2px solid #0d4253;
}
#footer {
  text-align: center;
  margin: 10px 0;
}
#footer p {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 12px;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
